.container{
  width: 80%;
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
}
.first{
  width: 80%;
}
.profilepic{
  padding: 10px;
}
.profileabout{
  padding: 20px;
}
