.layout{
  display: flex;
  width: 100vw;
  min-height: 100vh;

}
.content{
  width: 100%;
}
.sidebar{
min-height: 800px;
}
.spinner{
  margin: 20px;
}
.signup-form{
 margin: 30px;
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 5%;
}
.signup-form input {
padding: 5px;
margin: 5%;
border: 1px solid #777;
}

